<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial SampleApp</title>
  </head>
  <body>
    <h1>Sample App</h1>
     <p>
       this is the home page for the
       <a hear="hettps://railstutorial.jp/">Ruby on Rails Tutorial</a>
       sample application.
    </p>
  </body>
</html>

